@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-black: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
    --text-black: #000000;
  }
}

body {
  overflow-x: hidden;
  color: var(--text-black);
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-black-custom {
    color: #000 !important;
  }

  .text-gold-custom {
    color: rgb(200,173,128);
  }

}
