@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-black: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
    --text-black: #000000;
  }
}

body {
  margin: 0 auto; /* Center the content */
  max-width: 375px; /* Set the maximum width you prefer */
  height: 100vh; /* Optional: Makes the body take full viewport height */
  overflow-x: hidden; /* Prevents horizontal scroll */
  color: var(--text-black);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-image: url('/backsplash.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-black-custom {
    color: #000 !important;
  }

  .text-gold-custom {
    color: rgb(200,173,128);
  }

  .flex-adjust > *:not(:last-child) {
    margin-right: 2.5rem;
  }
}
