.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 0 10vw;
  background-color: #000;
  height: 0;
  position: sticky; /* Changed to sticky */
  top: 0; /* Position at the top */
  transition: 0.5s height;
  z-index: 10; /* You may increase this value if other elements overlap */

  .navigation {
    position: absolute;
    top: 0;
    width: calc(100% - 20vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 0 0;

    .button {
      background-color: transparent;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      color: #353935;
      transition: 0.5s color;
    }

    .burgerMenuContainer {
      content: "";
      width: 25px;
      height: 25px;
      position: relative;
      right: 0;
      cursor: pointer;

      .burgerMenuTrigger {
        content: "";
        width: 25px;
        height: 25px;
        position: relative;
        right: 0;
        cursor: pointer;
        z-index: 100;
      }

      .burgerMenu {
        content: "";
        background: #353935;
        position: absolute;
        width: 25px;
        height: 2px;
        z-index: 0;
        top: calc(25px / 2 - 1.5px);
        transition: 0.25s width ease-in-out, 0.5s background-color ease-in-out;
      }

      .burgerMenu::after {
        content: "";
        background-color: #353935;
        position: absolute;
        width: 25px;
        height: 2px;
        transform: translateY(10px);
        z-index: 0;
        transition: 0.25s transform ease-in-out,
          0.5s background-color ease-in-out;
      }

      .burgerMenu::before {
        content: "";
        background-color: #353935;
        position: absolute;
        width: 25px;
        height: 2px;
        transform: translateY(-10px);
        z-index: 0;
        transition: 0.25s transform ease-in-out,
          0.5s background-color ease-in-out;
      }

      .burgerMenuTrigger:hover ~ .burgerMenu {
        width: 25px;
      }
    }
  }

  .content {
    position: absolute;
    top: 30vh;
    display: none;

    ul {
      list-style: none;

      li {
        padding: 1rem 0;

        a {
          font-size: 3rem;
          color: rgb(127, 127, 127);
          transition: 0.25s color;
        }

        a:hover {
          color: rgb(232, 232, 232);
          transition: 0.25s color;
        }
      }
    }
  }
}

.navbar.active {
  background-color: #000;
  transition: 0.75s height;
  height: 100vh;
  z-index: 100;

  .navigation {
    .button {
      color: #fff;
      transition: 0.5s color;
    }
    .burgerMenuContainer {
      .burgerMenu {
        width: 0;
        background-color: #fff;
        transition: 0.25s width ease-in-out, 0.25s background-color ease-in-out;
      }

      .burgerMenu::after {
        transform: translateY(0px) rotate(135deg);
        background-color: #fff;
        transition: 0.25s transform ease-in-out,
          0.25s background-color ease-in-out;
      }

      .burgerMenu::before {
        transform: translateY(0px) rotate(-135deg);
        background-color: #fff;
        transition: 0.25s transform ease-in-out,
          0.25s background-color ease-in-out;
      }

      .burgerMenuTrigger:hover ~ .burgerMenu {
        width: 0px;
      }
    }
  }
  .content {
    display: initial;
  }
}
